

<script> 
	$(function() {
		$('input.datepicker').datepicker({
		  	 // defaultDate: +1,
		  	 // dateFormat: 'mm/dd/yy'
				// showAnim: 'slideDown'
		});
	});
</script>


<h3><%= @worker.name %></h3>
<p>	Assignments for <%= @worker.name  %></p>
	<% @worker.assignments.each do |assignment|%>
		<blockquote><%= assignment.id %>: <%= assignment.start_date %>
			<%= assignment.animal.species %>
		</blockquote>
	<% end %>

<%= simple_form_for @assignment, :url => worker_assignments_path(@worker) do |f| %>

<%= f.input :animal_id, collection: @animals, include_blank: false  %>

   
<%= f.input :start_date, :class => "datepicker", as: :datepicker  %>

<%= f.button :submit %>

<% end %>




   