

<script> 
	$(function() {
		// make a focus event in input field
		$('.jquery-ui-date').datepicker({
		  	 defaultDate: +1,
		  	 dateFormat: 'mm/dd/yy',
		  	 showOn: 'both',
		  	 showAnim: 'show'
		});
	});
</script>


<h3><%= @worker.name %></h3>
<p>	Assignments for <%= @worker.name  %></p>
	<% @worker.assignments.each do |assignment|%>
		<blockquote><%= assignment.id %>: <%= assignment.start_date %>
			<%= assignment.animal.species %>
		</blockquote>
	<% end %>

<%= simple_form_for @assignment, :url => worker_assignments_path(@worker) do |f| %>

<%= f.input :animal_id, collection: @animals, include_blank: false  %>

   
<%= f.input :start_date,  :input_html => { :class => 'jquery-ui-date'} %>

<%= f.button :submit %>

<% end %>




   